body {
    font-family: sans-serif;
    margin: 20px;
    
}

h2 {
    text-align: center;
}

#heatmap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.tooltip { 
    position: absolute; 
    text-align: center; 
    padding: 5px; 
    background: rgba(0, 0, 0, 0.7); 
    color: white; 
    border-radius: 4px; 
    pointer-events: none; 
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}
